<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .center {
            display:block;
  text-align: left;
  border: rgb(94, 102, 94);
  background-color: rgb(122, 184, 184);
}
.container {
    /* remember to set a width */
    margin-right: auto;
    margin-left: auto;
}
.body{
    background-color: grey;
}
    </style>
</head>
<body bgcolor="OldLace">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;GOVERNMENT FUND ALLOCATION AND TRACKING SYSTEM&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/newdesc">Home</a></li>
            <li><a href="/allocatefund">Allocate Fund</a></li>
            <li><a href="/funddetails">Fund Details</a></li>
            <li><a href="/tracking">Tracking Funds</a></li>
            <li class="active"><a href="/questiondetails1">Public Questions</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
    </nav>
    <br/><br/>
    <div class="container col-md-4"></div>
    <div class="container col-md-4 center">
        <br/><br/>
    <h1 ALIGN="center"><u>Answer PAGE</u></h1>
    <form action="/answerform" method="post">
        <div class="form-group">
            <label for="comment">Answer:</label>
            <textarea class="form-control" rows="5" id="comment" name="answer" required=""></textarea>
          </div>
    
    <div class="form-group">
        <input type="submit" value="Answer it" />
    </div>
    <br/><br/>
    </form>
    <span style="color: red;">{{err}}</span>
    <span style="color: green">{{res}}</span>
    </div>

</center>
</body>
</html>
