<html>
<head>
</head>
<body>
    <font face="Merlin">
        <center>
        <table border="1" cellspacing="2" cellpadding="5" width="100%">
        </center></td><td colspan="4"><center><font size="7" color="DarkGray"><marquee width=95%, bgcolor="HoneyDew">Government Fund Allocation And Tracking System</marquee></center></td></tr>
        <tr><td><center>
        <a href="/desc">Home</a></center></td>
        <td><center>
        <a href="/login">Login</a></center></td>
        <td><center>
        <a href="/registration">Registration</a></center></td>
        <td><center>
        <a href="/publictracking">Tracking Funds</a></center></td>
        </table>
        </center>
    </font>
    <br><br><br><br><br><br><br>

    <h1>
        Fund Allocation Details
    </h1>
</body>
</html>