<html>
<head>
<title>registration</title>
</head>
<body bgcolor="Lavender">
<center>
<h1 ALIGN="center"><u>REGISTRATION PAGE</u></h1>
<form action="/registeruser" method="post">
<table>
<tr><td>USER NAME</td><td><input type="text" name="username" /> </td>
<tr><td>E-MAIL ID</td><td><input type="text" name="email" /></td></tr>
<tr><td>NAME</td><td><input type="text" name="name" /></td></tr>
<tr><td> PHONE NUMBER</td><td><input type="text" name="mobile" /></td></tr>
<tr><td>DEPARTMENT</td><td><input type="text" name="dept" /></td></tr>
<tr><td>ROLE</td><td><input type="text" name="role" /></td></tr>
<tr><td>PASSWORD</td><td><input type="Password" name="password" /></td></tr>
<br>
<br>
<tr><td><input type="submit" value="REGISTER"></td></tr>
</table>
<br>
<br>
<br>
</center>
</form>
</body>
</html>

