<html>
<head>
    <font face="Merlin">
        <center>
        <table border="1" cellspacing="2" cellpadding="5" width="100%">
        </center></td><td colspan="4"><center><font size="7" color="DarkGray"><marquee width=95%, bgcolor="HoneyDew">Government Fund Allocation And Tracking System</marquee></center></td></tr>
        <tr><td><center>
        <a href="/newdesc" >Home</a></center></td>
        <td><center>
        <a href="/allocatefund" >Allocate Fund</a></center></td>
        <td><center>
        <a href="/tracking" >Tracking Funds</a></center></td>
        <td><center>
        <a href="/logout" ><button>Logout</button></a></center></td>
        </table>
        </center>
        </font>
</head>
<br><br><br><br>
<body>
<h1>
    Fund Allocation Details
    <table>
        <tr><th>sno</th><th>senderwallet</th><th>sender name</th><th>sender department</th><th>receiver</th><th>amount</th></tr>
        {%for i in range(0,l)%}
        <tr>
            <td>{{i+1}}</td>
            <td>{{res[i][0]}}</td>
            <td>{{res[i][1]}}</td>
            <td>{{res[i][2]}}</td>
            <td>{{res[i][3]}}</td>
            <td>{{res[i][4]}}</td>
        </tr>
        {%endfor%}
    </table>
</h1>
</body>
</html>